.button-base {
  padding: 8px 16px;
  border: none;
  border-radius: 40px;
  min-width: 200px;
  font-weight: $font-bold;
  box-sizing: border-box;
}

.button-1 {
  @extend .button-base;
  background: $color-primary;
  color: #FFF;
}

.button-2 {
  @extend .button-base;
  border: 2px solid $color-primary;
  background: #FFF;
  color: $color-primary;
}

.button-icon-1 {
  border: 2px solid #FFF;
  height: 44px;
  width: 44px;
  text-align: center;
  display: inline-block;
  padding: 4px;
  font-weight: bold;
  border-radius: 4px;
  color: #FFF;
}
