$font-regular:400;
$font-bold:700;
$font-black:900;
$color-primary:#00b0f8;
$color-secondary:#FFE924;
$color-black: #151515;
$color-pink:#FF31A0;
$color-gray: #c9c9c9;
$color-gray2: #777777;
$color-yellow:#ffdc00;

// media query break point//
$bp-lg: 1024px;
$bp-md: 680px;
$bp-sm: 480px;
$bp-xsm: 360px;
